body{
    border: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(32, 32, 32);
    color: white;
}
h4{
    color: yellow;
    text-decoration: underline;
}
.calculator_output_color{
    color: rgb(171, 115, 115);
}

.countLabel{
    margin: 10px 10px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}
.direction{
    display: flex;
    justify-content: center;
}
.counterBtn{
    margin: 10px;
    padding: 10px;
    border: 0px;
    font-size: 15px;
    background-color: aquamarine;
    cursor: pointer;
}
.counterBtn:hover{
    background-color: whitesmoke;
}
.counterBtn:active{
    background-color: black;
    color: white;
}
