body{
    border: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(32, 32, 32);
    color: white;
}
h4{
    color: yellow;
    text-decoration: underline;
}
.calculator_output_color{
    color: rgb(171, 115, 115);
}

.countLabel{
    margin: 10px 10px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}
.direction{
    display: flex;
    justify-content: center;
}
.counterBtn{
    margin: 10px;
    padding: 10px;
    border: 0px;
    font-size: 15px;
    background-color: aquamarine;
    cursor: pointer;
}
.counterBtn:hover{
    background-color: whitesmoke;
}
.counterBtn:active{
    background-color: black;
    color: white;
}

/* Guessing Game */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.guessGame{
    margin: 12px;
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
}
.guessNow{
    padding: 5px;
    background-color: aquamarine;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
}

.guessNow:hover{
    background-color: black;
    color: white;
}

/* Temperature Converter */

.converter-container {
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 25px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#appTitle {
    margin: 8px 3 8px 3;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#temperatureInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
}

button:hover {
    background-color: #0056b3;
}

#resultBox {
    margin-top: 20px;
    padding: 10px;
    background-color: #eef1f4;
    border-radius: 5px;
}

#resultText {
    font-size: 16px;
    color: #333;
}
.radio-group{
    color: black;
}